extends ./../partials/consoleHeader
block main
  .all-content-inner
    span.title Öğrenci Başvuruları
    .applications-wrapper
      each student in school.applications
        .student-wrapper
          .each-student-info
            span.info-title Öğrenci İsmi: 
            span.info-content= student.name
          .each-student-info
            span.info-title Okul Numarası: 
            span.info-content= student.schoolNumber
          .each-student-info
            span.info-title Öğrenci E-Posta Adresi: 
            span.info-content= student.email
          .each-student-info
            span.info-title Oluşturulma Zamanı: 
            span.info-content= student.createdAt
          .buttons-wrapper
            form.reject-button-wrapper(action=`/school/applications?id=${student._id}&response=rejected`)
              button.reject-button Reddet
            form.accept-button-wrapper(action=`/school/applications?id=${student._id}&response=accepted`)
              button.accept-button Onayla
